In [11]:
import pandas as pd
from IPython.display import display, HTML
import nltk
import pickle
import re
import string

from nltk import ngrams
from nltk.tokenize import word_tokenize
from nltk.tokenize import sent_tokenize
from nltk.tokenize import punkt
from nltk.stem import PorterStemmer
from nltk.stem import WordNetLemmatizer
from nltk.stem import wordnet
from nltk.corpus import stopwords

nltk.download('stopwords')
nltk.download('punkt')

from sklearn.preprocessing import MinMaxScaler
from sklearn.neighbors import NearestNeighbors
print('done')

[nltk_data] Downloading package stopwords to
[nltk_data]     /home/jupyter/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package punkt to /home/jupyter/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt.zip.

done

In [8]:
data_path = '../data/processed/'
# read in CPA cleand data
CPA = pd.read_csv(data_path + "CPA_data_cleaned.csv")               
CPA.drop('Descr_old', axis=1,inplace=True)
CPA

,Order,Level,Code,Parent,Descr
0,1208792,1,A,NaN,"PRODUCTS OF AGRICULTURE, FORESTRY AND FISHING"
1,1208793,2,01,A,"Products of agriculture, hunting and related s..."
2,1208794,3,01.1,01,Non-perennial crops
3,1208795,4,01.11,01.1,"Cereals , leguminous crops and oil seeds"
4,1208796,5,01.11.1,01.11,Wheat
...,...,...,...,...,...
5517,1214309,2,99,U,Services provided by extraterritorial organisa...
5518,1214310,3,99.0,99,Services provided by extraterritorial organisa...
5519,1214311,4,99.00,99.0,Services provided by extraterritorial organisa...
5520,1214312,5,99.00.1,99.00,Services provided by extraterritorial organisa...
5521,1214313,6,99.00.10,99.00.1,Services provided by extraterritorial organisa...

In [9]:
stop_words = stopwords.words('english')
all_punct = string.punctuation
print(stop_words)
print(all_punct)

['i', 'me', 'my', 'myself', 'we', 'our', 'ours', 'ourselves', 'you', "you're", "you've", "you'll", "you'd", 'your', 'yours', 'yourself', 'yourselves', 'he', 'him', 'his', 'himself', 'she', "she's", 'her', 'hers', 'herself', 'it', "it's", 'its', 'itself', 'they', 'them', 'their', 'theirs', 'themselves', 'what', 'which', 'who', 'whom', 'this', 'that', "that'll", 'these', 'those', 'am', 'is', 'are', 'was', 'were', 'be', 'been', 'being', 'have', 'has', 'had', 'having', 'do', 'does', 'did', 'doing', 'a', 'an', 'the', 'and', 'but', 'if', 'or', 'because', 'as', 'until', 'while', 'of', 'at', 'by', 'for', 'with', 'about', 'against', 'between', 'into', 'through', 'during', 'before', 'after', 'above', 'below', 'to', 'from', 'up', 'down', 'in', 'out', 'on', 'off', 'over', 'under', 'again', 'further', 'then', 'once', 'here', 'there', 'when', 'where', 'why', 'how', 'all', 'any', 'both', 'each', 'few', 'more', 'most', 'other', 'some', 'such', 'no', 'nor', 'not', 'only', 'own', 'same', 'so', 'than', 'too', 'very', 's', 't', 'can', 'will', 'just', 'don', "don't", 'should', "should've", 'now', 'd', 'll', 'm', 'o', 're', 've', 'y', 'ain', 'aren', "aren't", 'couldn', "couldn't", 'didn', "didn't", 'doesn', "doesn't", 'hadn', "hadn't", 'hasn', "hasn't", 'haven', "haven't", 'isn', "isn't", 'ma', 'mightn', "mightn't", 'mustn', "mustn't", 'needn', "needn't", 'shan', "shan't", 'shouldn', "shouldn't", 'wasn', "wasn't", 'weren', "weren't", 'won', "won't", 'wouldn', "wouldn't"]
!"#$%&'()*+,-./:;<=>?@[\]^_`{|}~

In [13]:
# function to print all content in one column as a string
def get_string(col):
    print(len(col))
    for i in range(len(col)):
        print(col.iloc[i],'\n')
# print out all content from two columns as pairs of strings        
def get_string2(cols):
    print(len(cols))
    for i in range(len(cols.iloc[:,0])):
        print(cols.iloc[i,0],'\n', cols.iloc[i,1],'\n')

def do_tokenize(df1,col):
    df = df1.copy()
    df['tokens'] = df[col].apply(clean)
    return df

def clean(text):
    tok_list = word_tokenize(text)
    tok_cleaned = []
    for w in tok_list:
        if (w not in stop_words and w not in all_punct):
            tok_cleaned.append(w) 
    return " ".join(tok_cleaned)


CPA2 = do_tokenize(CPA,'Descr')
CPA2

,Order,Level,Code,Parent,Descr,tokens
0,1208792,1,A,NaN,"PRODUCTS OF AGRICULTURE, FORESTRY AND FISHING",PRODUCTS OF AGRICULTURE FORESTRY AND FISHING
1,1208793,2,01,A,"Products of agriculture, hunting and related s...",Products agriculture hunting related services
2,1208794,3,01.1,01,Non-perennial crops,Non-perennial crops
3,1208795,4,01.11,01.1,"Cereals , leguminous crops and oil seeds",Cereals leguminous crops oil seeds
4,1208796,5,01.11.1,01.11,Wheat,Wheat
...,...,...,...,...,...,...
5517,1214309,2,99,U,Services provided by extraterritorial organisa...,Services provided extraterritorial organisatio...
5518,1214310,3,99.0,99,Services provided by extraterritorial organisa...,Services provided extraterritorial organisatio...
5519,1214311,4,99.00,99.0,Services provided by extraterritorial organisa...,Services provided extraterritorial organisatio...
5520,1214312,5,99.00.1,99.00,Services provided by extraterritorial organisa...,Services provided extraterritorial organisatio...
5521,1214313,6,99.00.10,99.00.1,Services provided by extraterritorial organisa...,Services provided extraterritorial organisatio...

In [14]:
CPA2.to_csv("../data/processed/CPA_tokenized.csv")